<h1>Contact</h1>
<table class = "table">
  <tr>
    <th>Snail mail</th>
    <td>Gate House<br />Stockland Lane<br />Hadlow Down<br />UCKFIELD<br />East Sussex<br />TN22 4EA<br />UK</td>
  </tr>
  <tr>
    <th>Electronic</th>
    <td><%= link_to "Click here", "http://support.reallycare.org" %></td>
  </tr>
</table>
